<ActionBar title="stomp-connector" class="action-bar"> </ActionBar>
<GridLayout class="p-20" rows="auto auto auto *">
	<GridLayout row="0" rows="auto auto" class="p-b-20" columns="* *">
		<Label col="0" colSpans="2" [text]="connectionStatus" class="h2 p-x-30 p-t-20" horizontalAlignment="center"></Label>
		<Button row="1" class="-primary" col="0" width="150" horizontalAlignment="right" [isEnabled]="!isConnected" (tap)="connect()" text="Connect"></Button>
		<Button row="1" class="-outline" col="1" width="150" horizontalAlignment="left" [isEnabled]="isConnected" (tap)="disconnect()" text="Disconnect"></Button>
	</GridLayout>
	<GridLayout row="1" columns="* * *">
		<Button class="-primary" col="0" (tap)="subscribeToTopic()" text="Topic Test"></Button>
		<Button class="-primary" col="1" (tap)="unsubscribeToTopic()" text="Unsubscribe"></Button>
		<Button class="-primary" col="2" (tap)="connected()" text="Is connected?"></Button>
	</GridLayout>
	<GridLayout row="2" columns="* auto" class="p-y-10 p-x-20">
		<TextField col="0" class="-input" [(ngModel)]="messageContent"></TextField>
		<Button col="1" class="-primary -rounded-sm" text="Send" (tap)="sendMessageAsObject()"></Button>
	</GridLayout>
	<GridLayout rows="* auto" row="3" col="0">
		<ListView [items]="logs">
			<ng-template let-log="item" let-i="index" let-odd="odd" let-even="even">
				<StackLayout padding="10" margin="4 10" backgroundColor="#555" borderRadius="10">
					<Label [text]="log" textWrap="true" color="white"></Label>
				</StackLayout>
			</ng-template>
		</ListView>
	</GridLayout>
</GridLayout>
